body {
    font-family: "Plus Jakarta Sana", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
    display: flex;
    width: fit-content;
}

.search-btn {
    border: #fe424d solid 1px;
    color: #fe424d;
    border-radius: 2rem;
  }

  .search-btn:hover {
    background-color: #fe424d ;
    color: white;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-input {
    border-radius: 2rem;
    padding: 0.5rem 3rem 0.5rem 2rem;
  }

  .navbar-collapse {
    background-color: white !important;
  }

  .search-div {
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 75%;
  }

  .form-search {
    flex: 1;
  }

  @media (max-width: 992px) {
    .search-div {
      width: 100%;
    }
  }


/* Footer */

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

/* Cards */

a {
    text-decoration: none !important;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn, .update-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Index Page */

#filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@media (width <= 1000px) {
    .thous-and {
        display: none;
    }
}

@media (width <= 520px) {
    .thous-and {
        display: inline;
    }
}

@media (width <= 450px) {
    .no-mobile {
        display: none;
    }
}

@media (width <= 370px) {
    .z-flip {
        display: none;
    }
}

.filter {
    margin-top: 1rem;
    text-align: center;
    margin-right: 2rem;
    opacity: 0.6;
}

.left {
    display: flex;
}

.filter:hover {
    opacity: 1;
}

.filter p{
    font-size: 0.8rem;
}

#flexSwitchCheckDefault:hover {
    cursor: pointer;
}

.tax_toggle {
    border: 1px solid rgba(0, 0, 0, 0.592);
    opacity: 0.7;
    border-radius: 0.5rem;
    max-height: fit-content;
    padding: 1rem;
}

.tax_toggle:hover {
    opacity: 1;
}

.tax-info {
    display: none;
}

/* Show Image */

.show-img {
    height: 30vh;
    object-fit: cover !important;
}

.btn-edit{
    background-color: #fe424d !important;
    border: none !important;
    margin-right: 15px;
}

.btn-delete {
    border: none !important;
}

.buttons {
    display: flex;
}

/* review */

.review-card-div {
    display: flex;
    width: 49% !important;
    margin-top: 10px !important;
    margin-right: 1% !important;
}

.review-card {
    width: 100% !important;
}

@media (max-width: 570px) {
    .review-card-div {
        width: 100% !important;
        min-height: 200px !important;
        max-height: fit-content !important;
        margin-bottom: 10px !important;
    }
}

